*.dat
*.keras
*.h5
*.npy

#Files
combine_sequences.py
combine_sequences_norm.py
load_final_data.ipynb
rename_files.py
test.ipynb
test.py

#Folders
Process Example/
Learn/
Frames/
Checkpoints/
Final_Checkpoints/
Final_Models/
Further_improvements_Checkpoints/
mobilenetV2_checkpoints/
mobilenetV3_checkpoints/
MoreCheckpoints/
saved_model/
SavedModels/


